@font-face {
    font-family: 'Barlow';
    src: url('../assets/fonts/Barlow-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'Barlow';
    src: url('../assets/fonts/Barlow-Black.ttf');
    font-weight: 900;
}

body { 
    font-family: 'Barlow';
    font-weight: 500; 
}